<!DOCTYPE html>

<html>
    <head>
        <title>EZClose</title>
    </head>

    <body>
        <h1>Add a Default Milestone</h1>
        <div>
            <form id="DefaultMilestone_form" method="post" action="/ezclose/add_defaultMilestone/">
            	{% csrf_token %}
            	{% for hidden in form.hidden_fields %}
            	    {{ hidden }}
            	{% endfor %}
            	{% for field in form.visible_fields %}
            	    {{ field.errors }}
            	    {{ field.help_text }}
            	    {{ field }}
            	{% endfor %}
            	<input type="submit" name="submit" value="Create Default Milestone" />
            </form>
        </div>
    </body>
</html>

