<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/ezclose.css' %}">
        <title>
            EZClose -
            {% block title_block %}
                Home Buying Made E-Z
            {% endblock %}    
        </title>
    </head>

    <body>
        <div>
        <div class="center">
           </p>
           </p>
           <img src="{% static "images/ez_close_logo.png" %}"
             alt = "State of Virginia" />
        </div>
            {% block body_block %}
                Default body_block content.

            {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'restricted' %}">Restricted Page</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>	
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Sign Up</a></li>			
            {% endif %}
                
                <li><a href="{% url 'about' %}">About</a></li>	
                <li><a href="{% url 'index' %}">Index</a></li>
                <li><a href="{% url 'overview' %}">Overview</a></li> 
            </ul>
        </div>
    </body>
</html>

