{% extends 'ezclose/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Welcome
{% endblock %}

{% block body_block %}
 
        {% if user.is_authenticated %}
            Logged in as: {{ user.username }}
        {% else %}
        	<br />
        	<br />

            <div class="container">
				<div class="row">
					<div class="center">
						<a button class="ezbutton2 widebtn" href="{% url 'login' %}">SIGN IN</button></a>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="center">
						<a button class="ezbutton3" href="{% url 'register' %}">REGISTER</button></a>
					</div>
				</div>
            </div>
        {% endif %}

<!--
        {% if transactions %}
        <ul>
            {% for tran in transactions %}
                <li>
                <a href="/ezclose/transaction/{{ tran.slug }}">{{ tran.client.name}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong> No transactions!</strong>
        {% endif %}
        </div>
        <div>

        </div>
        -->
{% endblock %}

