{% extends 'ezclose/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Welcome
{% endblock %}

{% block body_block %}
        <h1>EZ says...</h1>
        {% if user.is_authenticated %}
            howdy {{ user.username }}
        {% else %}
            <div>Please <a href="{% url 'login' %}">Sign In</a></div>
        {% endif %}

        {% if transactions %}
        <ul>
            {% for tran in transactions %}
                <li>
                <a href="/ezclose/transaction/{{ tran.slug }}">{{ tran.client.name}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong> No transactions!</strong>
        {% endif %}
        </div>
        <div>

            <img src="{% static "images/virginia@2x.png" %}"
             alt = "State of Virginia" />
        </div>
{% endblock %}

