{% extends 'ezclose/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
		<br /> <br />

        <form id="login_form" method="post" action="{% url 'login' %}">
	        {% csrf_token %}
            <div class="container">
				<div class="row">
				<div class="col">
						Username: <input type="text" name="username" value="" size="50" />
				</div>
				</div>
				<br /> 

				<div class="row">
				<div class="col">
						Password:  <input type="password" name="password" value="" size="50" />
				</div></div>
				<br /> <br />

				<div class="row">
				<div class="col-1">
				</div>
				<div class="col">
						<input type="submit" class="ezbutton2" value="submit" />
				</div></div>
			</div>
        </form>

{% endblock %}

