{% extends 'ezclose/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Overview
{% endblock %}

{% block body_block %}
        <h1>EZ says...</h1>
        {% if user.is_authenticated %}
            howdy {{ user.username }}
        {% else %}
            <div>hey there partner!</div>
        {% endif %}
        <div>
        {% if milestones %}
        <ul>
            {% for milestone in milestones %}
                <li>{{ milestone.name }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>No milestones present.</strong>
        {% endif %}        
        
        {% if transactions %}
        <ul>
            {% for tran in transactions %}
                <li>
                <a href="/ezclose/transaction/{{ tran.slug }}">{{ tran.client.name}}</a> {{ tran.startDate }} {{ tran.status }}</li>
            {% endfor %}
        </ul>
        <table style="width:400px">
          <tr>
             <th>Client</th>
             <th>Agent</th/>
             <th>Start Date</th>
             <th>Status</th>
          </tr>
          {% for tran in transactions %}
            <tr>
                <td>{{ tran.client.name }} </td>
                <td>{{ tran.realtor.name }} </td>
                <td>{{ tran.startDate }} </td>
                <td>{{ tran.status }} </td>
            </tr>
          {% endfor %}
        </table>  
        
        {% else %}
            <strong> No transactions!</strong>
        {% endif %}
        </div>
        <div>

            <a href="{% url 'new_transaction' %}">New Transaction</a> 
            <img src="{% static "images/virginia@2x.png" %}"
             alt = "State of Virginia" />
        </div>
{% endblock %}

