{% extends 'ezclose/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Transaction List
{% endblock %}

{% block body_block %}

<div class="container">       
 
        {% if user.is_authenticated %}
            <font color=#FCA205>{{ user.username }}'s Transactions.</font>
        {% else %}
            <div>Please <a href="{% url 'login' %}" style="color:#f2a920">Log in!</a></div>
        {% endif %}
        </p>
        
        {% if transactions %}
    		{% for tran in transactions %}
				<div class="row no-gutters row-bg top-buffer" style="font-size: 12px">
						<div class="col">
							Realtor: {{ tran.realtor.name }} <br/>
							Tasks: <a id="clink" href="/ezclose/transaction/{{ tran.slug }}"><strong>{{ tran.startDate }}</strong> </a><br/>
							Status: {{ tran.status }} <br/>
							Type: {{ tran.transactionType }} <br/>
							<a href="/ezclose/team/{{ tran.slug }}"> My Team </a><br/>
							<a href="/ezclose/set_property/{{ tran.slug }}"> Property: {{ tran.property }} </a><br/>
						</div> 					
						<div class="col-2 vcenter">
						<br/>
						   <a href="/ezclose/transaction/{{ tran.slug }}"><img src="{{ MEDIA_URL}}Group62.png" /> </a> 
						</div>
					</div>
				{% endfor %}

        {% else %}
            <strong> No transactions!</strong>
        {% endif %}
		    
        <div>
        	</br>
            <a href="{% url 'new_transaction' %}"><img src="{{ MEDIA_URL}}add_item.png" /></a> 
            <br/>
            <br/>
        </div>  
</div>      
 
{% endblock %}

