{% extends 'ezclose/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Transaction List
{% endblock %}

{% block body_block %}

<div class="container">       
 
        {% if user.is_authenticated %}
            <font color=#FCA205>Transaction list for {{ user.username }}.</font>
        {% else %}
            <div>Please <a href="{% url 'login' %}" style="color:#f2a920">Log in!</a></div>
        {% endif %}
        </p>
        
        {% if transactions %}

				<div class="row">
					 <div class="col">Agent</div>
					 <div class="col">Start Date</div>
					 <div class="col">Status</div>
					 <div class="col">Type</div>
					 <div class="col">Team</div>
					 <div class="col">Property</div>
				</div>
				</p>
				{% for tran in transactions %}
					<div class="row no-gutters row-bg top-buffer" style="font-size: 12px">
						<div class="col">{{ tran.realtor.name }} </div>
						<div class="col"> <a href="/ezclose/transaction/{{ tran.slug }}">{{ tran.startDate }} </a></div>
						<div class="col">{{ tran.status }} </div>
						<div class="col">{{ tran.transactionType }} </div>
						<div class="col"><a href="/ezclose/team/{{ tran.slug }}"> Team </a></div>  
						<div class="col">Property Address </div> 
					</div>
				{% endfor %}

        {% else %}
            <strong> No transactions!</strong>
        {% endif %}
		    
        <div>
        	</br>
            <a href="{% url 'new_transaction' %}"><img src="{{ MEDIA_URL}}add_item.png" /></a> 
        </div>  
</div>      
 
{% endblock %}

