<!DOCTYPE html>

<html>
    <head>
        <title>EZClose</title>
    </head>

    <body>
        <div>
        <h1>Register for EZClose</h1>
        {% if registered %}
            <strong>Thank you for registering!</strong>
            <a href="{% url 'index' %}">Return to homepage.</a><br />
            
        {% else %}
            <strong>Register here:</strong><br />
            <form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            
            <!-- Display forms -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            
            <input type="submit" name="submit" value="Register" />
            </form>
        {% endif %}
        </div>
    </body>
</html>

