{% extends 'ezclose/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
    Set Property
{% endblock %}

{% block body_block %}

<div class="container">
    <div class="row">
        <div class="col-8 col-md-6 col-lg-4 col-xl-4">
            <h1>Set the Property MLS</h1>

            {% if property_set %}
                <strong>Property Set!</strong><br/>
                <a href="/ezclose/transaction/{{ trns.slug }}"> Task Detail </a><br/>
                <a href="/ezclose/set_property/{{ trns.slug }}"> Property </a><br/>
            
            {% else %}
                <strong>Set Property MLS:</strong><br />
                <form id="prop_form" method="post" action='/ezclose/set_property/{{ trns.slug }}/' %}" enctype="multipart/form-data">

                    {% csrf_token %}
                    {{ prop_form|crispy }} 
            
                    <input type="submit" class="btn btn-success"  name="submit" value="Create" />
                </form>

            {% endif %}
            </div>
            </div>
          </div>
      </div>
{% endblock %}

