{% extends 'ezclose/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ transaction.startDate }}
{% endblock %}

{% block body_block %}
    {% csrf_token %}

    {% if formset %}
   
        {% if tasks %}

        <table style="width:400px">
          <tr>
             <th>Name</th>
             <th>Group</th/>
             <th>Due Date</th>
             <th>Assignee</th>
             <th>Status</th>
          </tr>
        </table>          {% else %}

          {% for form in formset %}
            <table>
                {{ form.as_table() }}
            </table>
          {% endfor %}
            <strong>No tasks for this transaction.</strong>
        {% endif %}        
        
    {% else %}
            <strong> No transactions!</strong>
    {% endif %}
{% endblock %}
